*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}
body{
    background-color: #9633ff;
}
.containerOne{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
input{
    border: none;
    outline: none;
    width: 300px;
    font-size: 17px;
}
.containerTwo{
    border: 3px solid rgb(236,225,225);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
i{
    color: #9633ff;
    padding-right: 10px;
}
h1{
    text-align: center;
    padding-bottom: 15px;
}

button{
    background-color: #9633ff;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.containerFour{
    display: flex;
    justify-content: center;
}
p{
    text-align: center;
    font-size: 17px;
    
}
a{
    text-decoration: none;
}
span{
    color: black;
}
